.edit-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 1.1rem 0;
  background-color: #b4b4b490;
  display: grid;
  top: 0;
  left: 0;
}
.edit-popup-container {
  place-self: center;
  width: max(30vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.edit-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.edit-popup-title img {
  width: 16px;
  cursor: pointer;
}
