.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.nav-title {
  font-size: 1.4rem;
}
.navbar .logo {
  width: max(8%, 80px);
  height: 80px;
}
.navbar .logout {
  width: 40px;
}

.logout:hover {
  cursor: pointer;
}
